body {
      height: 100%;
      background:lightblue;
      text-align: center;
    }
    #website {
      width:100 %;
    }
    #header {
      width: 100%;
      height:150px;
      background: grey;
    }
    #header h1 {
    padding-top: 45px;
    font-size: 2em;
    font-family: sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    }
    #main {
      width:100%;
    }
    .tabelle {
      display: inline;
    }
    #menu {
      float: left;
      width: 50%;
      height: 350px;
      background:blue;
    }
    #chat {
    float: right;
    width: 50%;
    height: 350px;
    background:darkred;
.button {
  display: inline-table;
}
    }
    #footer {
    width:450px;
    height: 200px;
    background: orange;
    float: left;
    }
    #online {
    width:450px;
    height:200px;
    background:black;
    border-radius:1px;
    clear:both;
    float: right;
}
