body {
    font-family: arial;
    display: block;
    height: 100%;
}

h1{
  text-align: center;
  background-color: #ffce80;
}

.left {
  background-color: #ff9e2c;
  float: left;
  width: 80%;
}

.right {
    background-color: #b6701e;
    float: left;
    width: 20%;
}

.oben {

}

.unten {

}
