body {
  font-family: arial;
  height: 100%;
  background-image: linear-gradient(to right, #9479ff , #7ad4ff);
  text-align: center;
}

ul {
  list-style: none;
}

#block {
  height: 210px;
  background-image: linear-gradient(to right, #7350ff , #35beff);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 7pt 1pt black;
  margin-bottom: 20px;
  padding: 1px 1px 1px 1px;
}

#oben {
  width:100 %;
  padding: 5px;
}

#head {
   width: 100%;
   height:55px;
   font-size: 1em;
   font-family: sans-serif;
   color: white;
   text-shadow: 0 0 5px black;
}

#gamestate {
  width: 70%;
  height:75px;
  font-size: 0.5em;
  color: white;
  text-shadow: 0 0 5px black;
  float: left;
  font-size: 1em;
  text-align: left;
}

#buttons {
  width: 30%;
  height:75px;
  font-size: 1em;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
  float: right;
  display: block;
}

.tabelle {
  display: inline;
}

#online {
  float: left;
  width: 50%;
  height: 250px;
  background:#6f6fff;
  color: white;
  margin-top: 20px;
  border-radius:12px;
  text-align: center;
}

#chat {
  width:50%;
  height: 250px;
  background: #42c8ff;
  float: left;
  font-size: 1.5em;
  color: black;
  margin-top: 20px;
  border-radius:12px;
}

#messages {
  text-align: left;
}

#currOnline  {
  list-style: decimal;
  text-align: left;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: 0px;
}

canvas {
  display:block;
}
