body {
  font-family: arial;
      height: 100%;
      background:lightblue;
      text-align: center;
    }
    #website {
      width:100 %;
    }
    #header {
      width: 100%;
      height:85px;
      background: grey;
      margin-bottom: 5px;

    }
    #header {
    font-size: 1em;
    font-family: sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    display: flex;

    }
    #main {
      width:100%;
    }
    .tabelle {
      display: inline;
    }
    #menu {
      float: left;
      width: 50%;
      height: 250px;
      background:blue;
      color: white;
      margin-top: 5px;
    }
    #online {
    width:50%;
    height: 250px;
    background: orange;
    float: left;
    font-size: 1.5em;
    color: black;
    margin-top: 5px;
    }
    table {
        border-spacing: 0px;
        border-collapse: collapse;
    }
    td {
      padding: 0px;
    }

    canvas {
        display:block;
    }
